<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="{% static 'styles/home.css' %}">-->
    <!--<script src="{% static 'scripts/main.js' %}" defer></script>-->
    <title>home page</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">InfluencerConnect</div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="{% url 'update_profile' %}">Profile</a></li>
                <li><a href="#">Messages</a></li>
                <li><a href="#">Campaigns</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="{% url 'logout_view' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
          
        </div>   
    </main>
</body>
</html>
