<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <title>Login Form</title>
</head>
<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

   <div class="container">
    <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form method="post" action="/login_view/">
            {% csrf_token %}
            <div class="row">
                <input type="text" name="username" placeholder="Enter you username" required>
            </div>
            <div class="row">
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="row button">
                <div class="pass"><a href="#">Forgot password?</a></div>
                <input type="submit" value="Login">
            </div>
            <div class="signup-link">Not a member? <a href="{% url 'signup' %}">Signup now.</a></div>
        </form>
    </div>
   </div>
</body>
</html>
