<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <title>home page</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="logo"> 
                <h2>InfluencerConnect</h2>
            </div>
            <ul class="menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="#">Messages</a></li> 
            </ul>
            
             <a href="{% url 'logout_view' %}" class="signup-btn">Log Out</a>
        </nav>
    </div> 
    
    <div class="thebody">
        <p>User details</p>
        <form method="post" action="/profile/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username: </td>
                    <td><input type="text" name="username" value="{{ user.username }}" /></td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td><input type="text" name="email" value="{{ user.email }}" /></td>
                </tr>
                <tr>
                    <td>Phone number: </td>
                    <td><input type="text" name="phone_number" value="{{ user.phone_number }}" /></td>
                </tr>
                <tr>
                    <td>Account type: </td>
                    <td><input type="text" name="account_type" value="{{user.account_type}}" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit">UPDATE ACCOUNT</button> 
                    </td>
                </tr>
            </table>
        </form>

        <!--Delete Account -->
        <form method="post" action="/delete_account/">
            {% csrf_token %}
            <table>
                <tr>
                    <td></td>
                    
                    <td>
                        <button type="submit">DELETE ACCOUNT</button> 
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>
