* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
html, body {
    display: grid;
    height: 100%;
    place-items: center;
    background: linear-gradient(135deg, #288CEE 40%, #22c1c3 100%);
}
.container {
    width: 100%;
    max-width: 380px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.container .wrapper .title {
    line-height: 80px;
    background: linear-gradient(135deg, #18538C 0%, #22c1c3 100%);
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.container .wrapper form {
    padding: 30px 25px 25px 25px;
}
.container .wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}
.container .wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    transition: all 0.3s ease;
}
.container .wrapper form .row input:focus {
    border-color: #22c1c3;
    box-shadow: inset 0px 0px 8px rgba(34, 193, 195, 0.4);
}
.container .wrapper form .pass a {
    color: #18538C;
    font-size: 17px;
    text-decoration: none;
}
.container .wrapper form .pass a:hover {
    text-decoration: underline;
}
.container .wrapper form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0;
    background: #18538C;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.container .wrapper form .button input:hover {
    background: #22c1c3;
}
.container .wrapper form .signup-link {
    padding-top: 12px;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
.container .wrapper form .signup-link a {
    color: #18538C;
    text-decoration: none;
}
.container .wrapper form .signup-link a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
